<h1>Take it!!!</h1>

<p>Title: <%= @article.title %> </p>

<p>Description: <%= @article.description %> </p>

<p>PhP my ass!!!</p>
<%= link_to "See mistakes? Edit the code now!!!", edit_article_path(@article) %> </br>
<%= link_to "Back to da list", articles_path %>