<h1 align="center">Oi adiavroxoi!!!!</h1>
<div align="center">
<% @users.each do |user| %>
  <ul class="listing">
    <div cloass="row">
      <div class="well col-md-4 col-md-offset-4">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li class="article-title"><%= link_to user.username, user_path(user) %></li>
        <li><small><%= pluralize(user.articles.count, "code") if user.articles %></small></li>
      </div>
    </div>
  </ul>
  
<% end %>
</div>