@import "bootstrap-sprockets";
@import "bootstrap";

$bgDefault: #177e89;
$bgHighlight: #315659;
$colDefault: #f3f3f3;
$colHighlight: #f37f2d;
$dropDown: true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    >li {
      >a {
        color: $colDefault;
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
      @if $dropDown {
        >.dropdown-menu {
          background-color: $bgDefault;
          >li {
            >a {
              color: $colDefault;
              &:hover,
              &:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
              }
            }
            &.divider {
              background-color: $bgHighlight;
            }
          }
        }
      }
    }
    @if $dropDown {
      .open .dropdown-menu>.active {
        >a,
        >a:hover,
        >a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    >.open {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    >li>a {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    >.active {
      >a,
      >a:hover,
      >a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}

.navbar-default {
  background-color: #177e89;
  border-color: #315659;
}

.navbar-default .navbar-brand {
  color: #f3f3f3;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f37f2d;
}

.navbar-default .navbar-text {
  color: #f3f3f3;
}

.navbar-default .navbar-nav>li>a {
  color: #f3f3f3;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #f37f2d;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #177e89;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: #f3f3f3;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #f37f2d;
  background-color: #315659;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
  background-color: #315659;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #f37f2d;
  background-color: #315659;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #f37f2d;
  background-color: #315659;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #f37f2d;
  background-color: #315659;
}

.navbar-default .navbar-toggle {
  border-color: #315659;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #315659;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #f3f3f3;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f3f3f3;
}

.navbar-default .navbar-link {
  color: #f3f3f3;
}

.navbar-default .navbar-link:hover {
  color: #f37f2d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f3f3f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #f37f2d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #f37f2d;
    background-color: #315659;
  }
}





#logo {
  float: left;
  font-size: 1.7em;
  color: #f3f3f3;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: #f3f3f3;
  text-decoration: none;

}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('ruby2.jpg');
  background-size: cover;
  height: 650px;
  color: #f3f3f3;
  line-height: 14.8;
}

.jumbotron h1 {
  line-height: 5.9;

}

.jumbotron h2 {
  line-height: 0;

}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  transition: 1s;

}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 2px solid #dbdbdb;
  padding-top: 15px;
  padding-bottom: 15px
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  text-decoration: none;
}

footer ul li {
  float: left;
  list-style: none;
  margin-left: 15px;
  text-decoration: none;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #1fbfd1;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
}

.input_checkbox input {
  width: auto !important;
}
