<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://www.datalink.com.gr">Datalink</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>